* {margin: 0; padding: 0;}

div {
    /*margin: 20px;*/
}

ul {
    list-style-type: none;
    width: 500px;
}

h3 {
    font: bold 18px/1.5 Helvetica, Verdana, sans-serif;
}

li img {
    float: left;
    margin: 0 10px 0 0;
    height: 85px;
}

li p {
    font-size: 12px;
}

li {
    padding: 10px;
    overflow: auto;
}

li:hover {
    background: #eee;
    cursor: pointer;
}


.leaflet-control {
    overflow: hidden!important;
}